.ToDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96vw;
    height: 97vh;
    max-width: 100vw;
    max-height: 100vh;
    font-size: 30px;
}

* {
    font-size: 30px;
}

h1 {
    font-size: 40px;
    margin: 45px 0;
}

input.checkBox {
    transform: scale(1.5);
    margin-right: 15px;
}