* {
    font-size: 25px;
    text-align: center;
}

div#title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

button#again {
    width: 35%;
    height: 48px;
    background-color: #a71f1f;
    cursor: pointer;
}

.style {
    border: 2px solid;
    width: 45vw;
    height: 11vh;
    margin: 81px 265px 0 187px;
    background-color: #f1ffff;
}

.scoreDiv {
    display: flex;
    font-size: 25px;
}

.countDiv {
    display: flex;
    font-size: 25px;
    margin: -30px 0;
}

.game {
    background-color: #c1cccd;
    height: 600px;
    border: 2px solid;
    margin: 70px 0 0 0px;
}

div#help {
    margin-left: 365px;
}