* {
  box-sizing: border-box;
  font-family: auto;
  font-size: 25px;
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
}

div#films {
  display: grid;
  grid-gap: 620px;
  column-gap: 100px;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(2, 150px);
}

input#input {
  width: 400px;
  margin: 60px 500px;
}

.style {
  box-shadow: 5px 10px #888888;
  padding: 20px;
  border: 2px solid;
  width: 240px;
  height: 750px;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(1, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  place-items: center;
  margin: 0 10px;
}

img {
  width: 150%;
  margin-top: -27px;
}

p.title {
  font-size: 30px;
  color: #8a1414;
}

p.description {
  font-size: 15px !important;
  margin-top: 60px;
}
